{% extends 'admin/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h1 style="color: #000000; text-align: center; margin:10px">Are you sure you want to delete trainer {{ trainer.first_name }} {{ trainer.last_name }}?</h1>
<div class="card mb-4" style="margin: 10px;">
    <div class="card-body">
             <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email <!--{% if trainers %}<a href="{% url 'email_all_trainers' %}">(Click here to email all)</a>{% endif %}--></th>
                        <!-- Clients and Classes -->
                        <th>Percentage</th>
                        <th>Age</th>
                        <th>Joined</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                    <tr>
                        <td>{{ trainer.trainer_id }}</td>
                        <td>{{ trainer.first_name }}</td>
                        <td>{{ trainer.last_name }}</td>
                        <td>{{ trainer.email }}</td>
                        <td>{{ trainer.percentage }}</td>
                        <td>{{ trainer.age }}</td>
                        <td>{{ trainer.joined }}</td>
                        <td><a href="{% url 'edit_trainer' trainer.trainer_id %}" style="color: blue;">Edit</a> / <a href="{% url 'delete_trainer' trainer.trainer_id %}" style="color: blue;">Delete</a></td>
                    </tr>
                </table>
            <form method="post" action="{% url 'dashboard:delete_trainer' trainer.trainer_id %}">
                {% csrf_token %}
                <div class="slider-btn">
                    <button type="submit" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s" style="
                    color: white;
                    background: black;
                    ">Delete</button>                
                </div>
            </form>
            <button style="margin-bottom: 10px;" text="text" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s"><a href="{% url 'dashboard:trainers' %}">Go Back</a></button>
        </div>
    </div>

{% endblock content %}