{% extends 'admin/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h1 style="color: #ffffff; text-align: center;">Are you sure you want to delete potential client #{{ potential_client.id }}</h1>
<div class="card mb-4" style="margin: 10px;">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Potential Clients <strong>Total: {{ potential_clients.count }}</strong>
    </div>
    <div class="card-body">
             <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Date</th>
                        <th>Discipline</th>
                    </tr>
                </thead>
                    <tr>
                        <td>{{ potential_client.id }}</td>
                        <td>{{ potential_client.first_name }}</td>
                        <td>{{ potential_client.last_name }}</td>
                        <td>{{ potential_client.email }}</td>
                        <td>{{ potential_client.message }}</td>
                        <td>{{ potential_client.date }}</td>
                        <td>{{ potential_client.get_discipline_display }}</td>
                    </tr>
                </table>
            <form method="post" action="{% url 'delete_potential_client' potential_client.id %}">
                {% csrf_token %}
                <div class="slider-btn">
                    <button type="submit" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Delete</button>
                </div>
            </form>
            <button style="margin-bottom: 10px;" text="text" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s"><a href="{% url 'potential_clients' %}">Go Back</a></button>
        </div>
    </section>

{% endblock content %}