{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
        <!-- main-area -->
        <main>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(static/img/testimonial/test-bg1.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                            <div class="breadcrumb-wrap text-center">
                                <div class="breadcrumb-title mb-30">
                                    <h2>Contact Us</h2>                                    
                                </div>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

			  <!-- contact-area -->
            <section id="contact" class="contact-area contact-bg pt-100 pb-70 p-relative fix">
                <div class="container">
             
					<div class="row">
                       
						<div class="col-lg-6">
                        <div class="section-title mb-60" >
                                <h2>Get In Touch With Us</h2>
                            </div>
                        <form method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="slider-btn">                                          
                                <button type="submit" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Send Message</button>					
                            </div>    
                        </form>
						<!-- <form action="#" class="contact-form" >
							<div class="row">
                            <div class="col-lg-6">
                                <div class="contact-field p-relative c-name mb-20">                                    
                                    <input type="text" placeholder="First Name">
                                </div>                               
                            </div>
                                <div class="col-lg-6">
                                <div class="contact-field p-relative c-name mb-20">                                    
                                    <input type="text" placeholder="Last Name">
                                </div>                               
                            </div>
							<div class="col-lg-12">                               
                                <div class="contact-field p-relative c-email mb-20">                                    
                                    <input type="text" placeholder="Write here youremail">
                                </div>                                
                            </div>
							<div class="col-lg-12">                               
                                <div class="contact-field p-relative c-subject mb-20">                                   
                                    <input type="text" placeholder="I would like to discuss">
                                </div>
                            </div>							
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-message mb-45">                                  
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Write comments"></textarea>
                                </div>
                                <div class="slider-btn">                                          
                                            <a href="#" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Send Message</a>					
                                        </div>                             
                            </div>
                            </div>
                        
                    </form> -->
						</div>
                         <div class="col-lg-6">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13612.455435608164!2d74.36935238305745!3d31.4660539521999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391907266e6a4525%3A0x8102913a6aa3e412!2sIntrinsic%20Combat%20Unit!5e0!3m2!1sen!2s!4v1690271530311!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;height: 500px; border-radius: 10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
					</div>
                    
                </div>
               
            </section>
            <!-- contact-area-end -->
        </main>
        <!-- main-area-end -->
        
    </body>
    </html>
{% endblock content %}
